@import "~leaflet/dist/leaflet";
@import "~leaflet.markercluster/dist/MarkerCluster.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";
@import "~vue-toastification/dist/index.css";

* {
  box-sizing: border-box;
}

html, body {
  --text-color: #f5deb3;
  --icon-plus-url: url("../img/icon-plus.svg");
  --icon-gps-url: url("../img/icon-gps.svg");
  --icon-gps-active-url: url("../img/icon-gps-active.svg");
  --marker-default-url: url("../img/marker-default.svg");
  --marker-1-url: url("../img/marker-1.png");
  --marker-2-url: url("../img/marker-2.png");
  --marker-3-url: url("../img/marker-3.png");
  --marker-4-url: url("../img/marker-4.png");
  --marker-5-url: url("../img/marker-5.png");
  --marker-6-url: url("../img/marker-6.png");
  --marker-7-url: url("../img/marker-7.png");
  --marker-8-url: url("../img/marker-8.png");
  --marker-9-url: url("../img/marker-9.png");
  --marker-10-url: url("../img/marker-10.png");
  --marker-11-url: url("../img/marker-11.png");
  --marker-12-url: url("../img/marker-12.png");
  --marker-13-url: url("../img/marker-13.png");
  --marker-14-url: url("../img/marker-14.png");
  --marker-15-url: url("../img/marker-15.png");
  --marker-16-url: url("../img/marker-16.png");
  --marker-17-url: url("../img/marker-17.png");
  --marker-18-url: url("../img/marker-18.png");
  --marker-19-url: url("../img/marker-19.png");
  --marker-20-url: url("../img/marker-20.png");
  --marker-21-url: url("../img/marker-21.png");
  --marker-22-url: url("../img/marker-22.png");
  --marker-23-url: url("../img/marker-23.png");
  --marker-24-url: url("../img/marker-24.png");
  --marker-25-url: url("../img/marker-25.png");
  --marker-26-url: url("../img/marker-26.png");

  background-color: #000;
  color: var(--text-color);
  font-family: 'Cantarell', sans-serif;
  font-weight: 400;
  margin: 0;
}

a {
  color: #ff0000;
  transition: color .2s ease-out;

  &:hover {
    color: tomato;
  }
}

#attribution {
  background-color: #000c;
  border-top-left-radius: 8px;
  bottom: 0;
  box-shadow: 0px 0px 5px 1px #000c;
  position: fixed;
  right: 0;
  font-size: 0.8rem;
  margin: 0;
  padding: 0.3rem;
  text-align: right;
  z-index: 1000;
}

.add-marker,
.default-marker {
  translate: 0 -24px;
}

.marker-tooltip {
  max-width: 40vw;
  translate: 0 -24px;
}

.theme-dark {
  // .leaflet-tile {
  //   filter: hue-rotate(180deg) invert(100%);
  // }

  .add-marker,
  .default-marker {
    // filter: hue-rotate(180deg) invert(60%);
  }
}

.btn-geolocate {
  background-color: transparent;
  background-image: var(--icon-gps-url);
  background-size: 100% 100%;
  border: 0;
  cursor: pointer;
  height: 40px;
  position: fixed;
  right: 1vw;
  top: 1vw;
  width: 40px;
  z-index: 400;

  &.active {
    background-image: var(--icon-gps-active-url);
  }
}

.add-menu {
  background-color: #24011fcc;
  bottom: 0;
  box-shadow: 20px 0px 30px 0px rgba(0,0,0,0.5);
  height: 100vh;
  left: -300px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1vw;
  padding-bottom: 5vh;
  position: fixed;
  top: 0;
  transition: left .3s ease-out, box-shadow .3s ease-out;
  width: 300px;
  z-index: 1500;

  @media only screen and (min-width: 1024px) {
    left: -30vw;
    width: 30vw;
  }

  &.active {
    left: 0;
  }

  .close-button {
    color: wheat;
    display: block;
    font-size: 40px;
    line-height: 25px;
    position: absolute;
    right: 10px;
    text-decoration: none;
    top: 10px;
  }

  .logo {
    height: auto;
    padding: 0 calc(3vw + 3vh);
    width: 100%;
  }
}

form {
  .input-group {
    margin-bottom: 2vh;
    position: relative;

    label {
      display: block;
      margin-bottom: .5vh;
    }

    input,
    textarea {
      background-color: transparent;
      border: 1px solid #029999;
      border-radius: 3px;
      color: var(--text-color);
      display: block;
      font-size: 16px;
      line-height: 1.4;
      padding: 6px 10px;
      resize: vertical;
      transition: border-color .3s ease-out;
      width: 100%;

      &:focus {
        border-color: #0ff;
        outline: none;
      }
    }

    .option-list {
      background-color: rgba(0, 0, 0, .8);
      display: none;
      margin: 0;
      max-height: 30vh;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 0;
      position: absolute;

      &.active {
        display: block;
      }

      li {
        background-color: transparent;
        cursor: pointer;
        list-style: none;
        padding: 10px;
        transition: background-color .15s ease-out;
        word-break: break-word;

        &:hover {
          background-color: rgba(255,255, 255, .2);
        }
      }
    }
  }

  .list-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2vh;
    max-height: 35vh;
    overflow-y: auto;

    > .list-item {
      border: 1px solid transparent;
      cursor: pointer;
      flex-grow: 1;
      margin: 5px;
      max-width: 160px;
      transition: border-color .3s ease-out;
      width: 100px;

      &.selected {
        border-color: #0ff;
      }
    }
  }

  [type="submit"] {
    background-color: rgba(0,0,0,.9);
    border: 1px solid #029999;
    border-radius: 3px;
    color: var(--text-color);
    font-size: 18px;
    padding: 8px 24px;
  }
}

.leaflet-right .leaflet-control-zoom.leaflet-control {
  margin-right: 20px;
}

.leaflet-bottom .leaflet-control-zoom.leaflet-control {
  margin-bottom: 20px;
}

.point-count {
  background-color: #000c;
  border-radius: 0 0 6px 6px;
  left: calc(50vw - 90px);
  line-height: 2;
  position: fixed;
  text-align: center;
  top: 0;
  width: 180px;
  z-index: 1000;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
