@font-face {
  // https://www.dafont.com/pwhandysocialicons.font
  font-display: swap;
  font-family: 'PWHandySocialIcons';
  font-weight: normal;
  font-style: normal;
  src: local('PWHandySocialIcons'),
       url('../fonts/PWHandySocialIcons.woff2') format('woff2'),
       url('../fonts/PWHandySocialIcons.woff') format('woff');
}

html, body {
  background-color: #000;
  color: #cc0000;
  font-family: 'Cantarell', sans-serif;
  font-weight: 400;
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  background-image: url('../img/gezi-background-black.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.content {
  align-items: center;
  display: flex;
  justify-content: center;
  flex: 1;
  font-size: calc(3vw + 3vh);
  text-align: center;
}

#attribution {
  z-index: 3;
  position: fixed;
  bottom: 0;
  right: 0;
  background: #000000bf;
  box-shadow: 0px 0px 5px 1px #000000bf;
  font-size: 14px;
  padding: 0.3rem;
  border-top-left-radius: 8px;

  @media only screen and (max-width: 512px) {
    font-size: 12px;
    left: 0;
    text-align: center;
  }
}

.social-icons {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding-bottom: 8vh;

  a {
    text-decoration: none;
    font-size: calc(3vw + 3vh);
    width: calc(3vw + 3vh + 5px);
    height: calc(3vw + 3vh + 5px);
    line-height: calc(3vw + 3vh + 5px);
    text-align: center;
    margin: 0 1vw;
    display: inline-block;
  }
}

.ba-icon {
  font-family: 'PWHandySocialIcons';
}
