<template>
  <aside class="add-menu" :class="{ active: isActive }">
    <a class="close-button" href="#" @click.prevent="handleCloseClick">
      &times;
    </a>
    <img
      src="/images/united4istanbulconvention-logo.png"
      alt="United4IstanbulConvention logo"
      class="logo"
    >

    <form @submit.prevent="handleFormSubmit">
      <p>
        Fill the form to appear on map!
      </p>

      <div class="input-group">
        <label for="name_shown">Name</label>
        <input
          type="text"
          id="name_shown"
          v-model="formData.title"
          required
          minlength="3"
        >
      </div>

      <div class="input-group">
        <label for="body">Message</label>
        <textarea
          id="body"
          v-model="formData.body"
          required
          minlength="5"
          @focus="textListActive = true"
          @blur="handleBodyBlur"
          rows="5"
        ></textarea>

        <ul class="option-list" :class="{ active: textListActive }">
          <li
            v-for="item in textList"
            :key="item.id"
            @click="handleTextSelect(item)"
          >{{ item.text }}</li>
        </ul>
      </div>

      <div class="list-group">
        <img
          class="list-item"
          v-for="item in iconList"
          :key="item.id"
          @click="handleIconClick(item)"
          :src="item.url"
          :alt="item.alt"
          :class="{ selected: item.id === formData.icon_id }"
        >
      </div>

      <div style="text-align: right">
        <button type="submit">Add to Map!</button>
      </div>
    </form>
    <Spinner v-if="isLoading" />
  </aside>
</template>
<script>
import Spinner from './Spinner';
import { ICONS, TEXTS } from '../data';

export default {
  components: {
    Spinner,
  },
  props: {
    active: {
      required: false,
      default: true,
      type: Boolean,
    },
    lat: {
      required: false,
      default: null,
      type: Number,
    },
    lng: {
      required: false,
      default: null,
      type: Number,
    },
  },
  data() {
    return {
      isActive: false,
      isLoading: false,
      formData: {
        title: null,
        body: null,
        icon_id: 1,
      },
      iconList: ICONS,
      textList: TEXTS,
      textListActive: false,
    };
  },
  watch: {
    active() {
      this.isActive = this.active;
    },
  },
  mounted() {
    this.isActive = this.active;
  },
  methods: {
    handleFormSubmit() {
      if(this.isLoading) {
        return false;
      }
      this.isLoading = true;

      const formData = Object.assign({}, this.formData, {
        lat: this.lat,
        lng: this.lng,
      });

      this.axios.post('add', formData)
        .then((response) => {
          this.$emit('marker:added', response.data);
        }).catch((error) => {
          try {
            this.$emit('marker:error', error.response.data.error);
          } catch(exception) {
            console.error(error, exception);
          }
        }).finally(() => this.isLoading = false);
    },
    handleIconClick(icon) {
      this.formData.icon_id = icon.id;
    },
    handleTextSelect(text) {
      this.formData.body = text.text;
      this.textListActive = false;
    },
    handleBodyBlur() {
      setTimeout(() => this.textListActive = false, 200);
    },
    handleCloseClick() {
      this.textListActive = false;
      this.$emit('marker:dismiss');
    },
  },
};
</script>
