<template>
  <main class="main">
    <LMap
      style="height: 100vh"
      :zoom="zoom"
      :min-zoom="4"
      :center="center"
      :options="options"
      :max-bounds="maxBounds"
      @click="handleMapClick"
      @update:bounds="handleUpdateBounds"
      :bounds.sync="bounds"
      @ready="handleMapReady"
    >
      <LControlZoom position="bottomright" />
      <LTileLayer :url="tileLayerUrl" :attribution="attribution" />
      <LMarker
        v-if="showAddMarker"
        :lat-lng="addPosition"
      >
        <LIcon
          icon-url="/images/icon-plus.svg"
          class-name="add-marker"
          :icon-size="[50, 50]"
        />
      </LMarker>
      <Vue2LeafletMarkerCluster :options="clusterOptions">
        <LMarker
          :lat-lng="[item.lat, item.lng]"
          v-for="(item, index) in items"
          :key="index"
          :options="{ singleMarkerMode: false }"
        >
          <LIcon
            :icon-url="`/images/marker-${item.icon_id}.png`"
            :class-name="`marker default-marker marker-${item.icon_id}`"
            :icon-size="[40, 40]"
          />
          <LPopup :options="{ className: 'marker-tooltip' }">
            <strong>{{ item.title }}</strong><br>
            <p>{{ item.body }}</p>
          </LPopup>
        </LMarker>
      </Vue2LeafletMarkerCluster>
      <!-- <VGeosearch :options="geosearchOptions" /> -->
    </LMap>
    <button
      type="button"
      class="btn-geolocate"
      @click="handleGeolocateClick"
      :class="{ active: gpsIsLoading }"
    ><span class="sr-only">(Find my location)</span></button>
    <div class="point-count" v-if="pointCount">
      {{ pointCount.toLocaleString() }} pins on map
    </div>
    <Spinner v-if="isLoading" />
    <AddMenu
      :active="addMenuIsActive"
      :lat="addPosition[0]"
      :lng="addPosition[1]"
      @marker:added="handleMarkerAdded"
      @marker:error="handleMarkerError"
      @marker:dismiss="handleMarkerDismiss"
      />
  </main>
</template>

<script>
import {
  LControlZoom,
  LIcon,
  LMap,
  LTileLayer,
  LPopup,
  LMarker,
} from 'vue2-leaflet';
import Vue2LeafletMarkerCluster from 'vue2-leaflet-markercluster';
// import { OpenStreetMapProvider } from 'leaflet-geosearch';
import { latLngBounds } from 'leaflet';
// import VGeosearch from 'vue2-leaflet-geosearch';
import AddMenu from './AddMenu';
import Spinner from './Spinner';

export default {
  components: {
    AddMenu,
    LControlZoom,
    LIcon,
    LMap,
    LMarker,
    LTileLayer,
    LPopup,
    Spinner,
    Vue2LeafletMarkerCluster,
  },
  props: {
    pointCount: {
      type: Number,
      required: false,
      default: null,
    },
  },
  data () {
    return {
      tileLayerUrl: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      zoom: 6,
      center: [41, 29],
      markerLatLng: [47.313220, -1.319482],
      options: {
        zoomControl: false,
      },
      addMenuIsActive: false,
      showAddMarker: false,
      addPosition: [],
      // geosearchOptions: { // Important part Here
      //   provider: new OpenStreetMapProvider(),
      // },
      maxBounds: latLngBounds([
        [-80, -180],
        [80, 180],
      ]),
      items: [],
      isLoading: false,
      gpsIsLoading: false,
      bounds: undefined,
      clusterOptions: {
        animateAddingMarkers: false,
        chunkedLoading: true,
      },
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors.',
    };
  },
  mounted() {
    this.isLoading = true;
  },
  methods: {
    handleMapClick(event) {
      this.showAddMarker = false;
      this.addPosition = [
        event.latlng.lat,
        event.latlng.lng,
      ];
      this.showAddMarker = true;
      this.addMenuIsActive = true;
    },
    handleUpdateBounds(event) {
      const params = {
        south: event.getSouth(),
        north: event.getNorth(),
        west: event.getWest(),
        east: event.getEast(),
      };
      this.loadPoints(params);
    },
    loadPoints(params) {
      this.items = [];
      this.axios.get('points', { params })
        .then((response) => {
          this.items = response.data;
        }).finally(() => (this.isLoading = false));
    },
    handleMapReady(event) {
      setTimeout(() => {
        const bounds = event.getBounds();
        this.loadPoints({
          south: bounds._southWest.lat,
          west: bounds._southWest.lng,
          north: bounds._northEast.lat,
          east: bounds._northEast.lng,
        });
      }, 1000);
    },
    handleMarkerAdded(markerData) {
      this.showAddMarker = false;
      this.addMenuIsActive = false;
      this.items.push(markerData);
      this.$toast('Saved! Your message will be published after it is approved.', {
        type: 'success',
      });
    },
    handleMarkerError(errorMessage) {
      this.$toast(`Error! ${errorMessage}`, {
        type: 'error',
      });
    },
    handleMarkerDismiss() {
      this.showAddMarker = false;
      this.addMenuIsActive = false;
    },
    handleGeolocateClick() {
      this.gpsIsLoading = true;
      navigator.geolocation.getCurrentPosition(
        this.handleGeolocationSuccess,
        this.handleGeolocationError,
      );
    },
    handleGeolocationSuccess(position) {
      this.gpsIsLoading = false;
      this.showAddMarker = false;
      this.center = [
        position.coords.latitude,
        position.coords.longitude,
      ];
      if(this.zoom < 13) {
        this.zoom = 13;
      }
      setTimeout(() => {
        this.addPosition = [
          position.coords.latitude,
          position.coords.longitude,
        ];
        this.showAddMarker = true;
        console.log(position.coords);
        this.addMenuIsActive = true;
      }, 1000);
    },
    handleGeolocationError() {
      this.gpsIsLoading = false;
      this.$toast('We could not get your position.');
    },
  },
};
</script>
