:root {
  --border-double: 7px double var(--primary);
}

body {
  font-family: 'Open Sans', 'Liberation Sans', sans-serif;
  font-weight: 300;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  width: 100vw;
}

.navbar-admin {
  background-color: #000;
  // background-image: url('../../img/home-bg.jpg');
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 20vw;

  ul {
    padding: 0;

    > li {
      list-style: none;

      > a,
      button {
        color: $text-gray-color;
        font-weight: $font-weight-light;
        display: block;
        padding: .5rem 1.5rem;

        &:not(:last-child) {
          border-bottom: 1px solid black;
        }

        &:hover,
        &:active,
        &.active {
          background: rgb(56, 56, 56);
          text-decoration: none;
        }

        > i {
          width: 2vw;
          min-width: 20px;
        }
      }

      > button {
        border: 0;
        text-align: left;
        width: 100%;
      }

      &.active > a {
        background: $red;
      }
    }
  }

  .has-submenu {
    .submenu-toggler {
      &:after {
        display: inline-block;
        margin-left: .5em;
        vertical-align: .255em;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
      }
    }

    .submenu {
      display: none;
      overflow: hidden;
      transition: .5s ease height;
      background: rgba(255,255,255,.1);

      a {
        padding-left: 2rem;
      }
    }

    &.active .submenu {
      display: block;
    }
  }

  @include media-breakpoint-down(lg) {
    position: absolute;
    width: 80vw;
    left: -80vw;
    top: 0;
    transition: .25s ease;
    z-index: 10;

    &.is-active {
      left: 0;
    }

    .hamburger {
      position: absolute;
      right: -50px;
      top: 5px;
      background: #000;
      z-index: 10;
    }
  }
}

main {
  margin-left: 20vw;

  @include media-breakpoint-down(lg) {
    margin-left: auto;
  }
}

.img-box {
  position: relative;

  .btn {
    position: absolute;
    right: 20px;
    bottom: 5px;
  }
}

.border-bottom {
  border-bottom: var(--border-double) !important;
}

header {
  border-bottom: 7px double var(--primary);
}

.table tbody > tr > td img {
  max-height: 34px;
}

.matomo-iframe {
  border: 0;
  min-height: 80vh;
}

.select2.select2-container {
    width: 100% !important;
}
